/* common */
body {
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration-line: none; 
}

p {
    margin: 0;
}

/*header*/
.header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 70px;
  border-bottom:1px solid #cccccc;
}


.logo {
    font-size: 20px;
    padding-left: 20px;
}

.logo a {
    color: orange;
}


nav {
  margin-left: auto;
}
nav ul {
  display: flex;
  text-align: center;
}

nav ul li{
  padding: 10px 22px;
  font-size: 11px;
  color: black;
}

nav ul li a {
    color: black;
    font-weight: lighter;
}

.menu li a:hover {
    background-color: #555;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.counseling {
    display: inline-block;
    background: orange;
    color: white;
    padding: 8px;
    border-radius: 8px;
    /* margin-top: 16px; */
}

.menu-icon {
    display: none; /* ハンバーガーアイコンをブロック要素に設定 */
    cursor: pointer; /* マウスカーソルがアイコン上でポインタに変わるように設定 */
    width: 30px; /* ハンバーガーアイコンの幅を30pxに設定 */
    height: 25px; /* ハンバーガーアイコンの高さを25pxに設定 */
    position: relative; /* アイコンを相対配置 */
}

.menu-icon span {
    display: block; /* 各ラインをブロック要素に設定 */
    width: 100%; /* 各ラインの幅を親要素（アイコン）に合わせる */
    height: 3px; /* 各ラインの高さを3pxに設定 */
    background-color: black; /* ラインの色を白に設定 */
    margin-bottom: 5px; /* 各ラインの間に5pxの間隔を追加 */
    transition: all 0.3s; /* 0.3秒でアニメーションの変化を行う */
}

#menu-toggle {
    display: none; /* チェックボックスを画面に表示しないように設定 */
}

/* hero2 */
.hero {
    display: flex;
    width: 100%;
    height: 670px;
    /* background: green; */
    position: relative;
}

.triangle_left_top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 250px;
    height: 250px;
}

.triangle_left_center {
    position: absolute;
    left: -50px;
    bottom: 70px;
    z-index: 1;
    width: 450px;
    height: 520px; 
}

.triangle_right_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}



.man_right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

/* boshu */
.boshu {
    height: 430px;
    width: 630px;
    /* background: green; */
    position: absolute;
    right: calc(50% - 100px);
    top: calc(50% - 200px);
    z-index: 3;
}

.boshu2 {
    height: 430px;
    width: 630px;
    /* background: blue; */
    position: relative;
}

.boshu_text {
    /* background: green; */
    height: 320px;
    width: 475px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.boshu2 img {
    position: absolute;
    right: 0;
    top: 0;
}

.boshu2 h2 {
    font-size: 40px;
}

.boshu2 a {
    display: block;
    background: orange;
    color: white;
    padding: 20px 130px;
    border-radius: 40px;
    font-size: 16px;
    margin-top: 30px;
}

.boshu2 p {
    font-size: 11px;
    font-weight: lighter;
}

@media screen and (max-width: 1024px) and (min-width: 761px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    .boshu {
        height: 430px;
        width: 630px;
        /* background: green; */
        position: absolute;
        left: 20px;
        top: calc(50% - 220px);
        z-index: 3;
    }

    .hero {
       height: 650px;
    }
    .menu-icon {
        display: block; /* ハンバーガーアイコンをブロック要素に設定 */
        cursor: pointer; /* マウスカーソルがアイコン上でポインタに変わるように設定 */
        width: 30px; /* ハンバーガーアイコンの幅を30pxに設定 */
        height: 25px; /* ハンバーガーアイコンの高さを25pxに設定 */
        position: relative; /* アイコンを相対配置 */
        margin-right: 20px;
    }

    .menu-icon span {
        display: block; /* 各ラインをブロック要素に設定 */
        width: 100%; /* 各ラインの幅を親要素（アイコン）に合わせる */
        height: 3px; /* 各ラインの高さを3pxに設定 */
        background-color: black; /* ラインの色を白に設定 */
        margin-bottom: 5px; /* 各ラインの間に5pxの間隔を追加 */
        transition: all 0.3s; /* 0.3秒でアニメーションの変化を行う */
    }

    #menu-toggle {
        display: none; /* チェックボックスを画面に表示しないように設定 */
    }

    .menu {
        display: none; /* メニューリストを非表示に設定 */
        list-style: none; /* リスト項目のデフォルトのリストスタイルをなしにする */
        background-color: rgba(0, 0, 0, 0.8); /* 背景色の青色を50%透明に設定 */
        position: absolute; /* メニューを絶対配置で画面に配置 */
        top: 70px; /* メニューの上部を40px下に配置 */
        right: 0; /* メニューを右端に配置 */
        width: 100%; /* メニューの幅を200pxに設定 */
        height: 100%;
        z-index: 10;
    }

    #menu-toggle:checked + .menu-icon + .menu {
        display: block; /* チェックが入るとメニューを表示 */
    }

    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(45deg); /* 45度回転 */
        position: relative; /* ラインを相対的に配置 */
        top: 8px; /* 8px下に移動 */
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0; /* 完全に透明にする */
    }

    /* チェックボックスがオンのときに3本目のラインを回転させる */
    #menu-toggle:checked + .menu-icon span:nth-child(3) {
        transform: rotate(-45deg); /* 逆方向に45度回転 */
        position: relative; /* ラインを相対的に配置 */
        top: -8px; /* 8px上に移動 */
    }

    nav ul li a {
        color: white;
        font-size: 16px;
        display: inline-block;
    }
    
    p {
        padding-top: 12px;
        margin: 0;
    }

    .eng {
        letter-spacing: 4px;
    }

    .jp {
        letter-spacing: 2px;
        font-size: 12px;
        color: orange;
    }
    .counseling {
        display: inline-block;
        padding: 16px 32px;
        border-radius: 32px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 760px) {
    .hero {
       height: 114vw;
    }
    
    .triangle_left_top {
        width: calc(25%);
        height: calc(22%);
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .triangle_right_bottom {
        display: none;
    }
    .triangle_left_center {
        position: absolute;
        left: calc(15%);
        top: calc(3%);
        z-index: 1;
        width: 50vw;
        height: 50vw; 
    }

    .man_right {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 71vw;
        height: 65vw;

    }

    .boshu {
        left: 20px;
        top: calc(50% - 100px);
        width: 480px;
    }
    .boshu2 {
        width: 480px;
    }
    .boshu2 img {
        position: absolute;
        left: 200px;
        top: 75px;
        width: 100px;
    }

    .boshu2 h2 {
        font-size: 20px;
    }

    .boshu2 a {
        display: block;
        background: orange;
        color: white;
        padding: 20px 130px;
        border-radius: 40px;
        font-size: 16px;
        margin-top: 30px;
    }

    .boshu2 p {
        font-size: 11px;
        font-weight: lighter;
    }

    .menu-icon {
        display: block; /* ハンバーガーアイコンをブロック要素に設定 */
        cursor: pointer; /* マウスカーソルがアイコン上でポインタに変わるように設定 */
        width: 30px; /* ハンバーガーアイコンの幅を30pxに設定 */
        height: 25px; /* ハンバーガーアイコンの高さを25pxに設定 */
        position: relative; /* アイコンを相対配置 */
        margin-right: 20px;
    }

    .menu-icon span {
        display: block; /* 各ラインをブロック要素に設定 */
        width: 100%; /* 各ラインの幅を親要素（アイコン）に合わせる */
        height: 3px; /* 各ラインの高さを3pxに設定 */
        background-color: black; /* ラインの色を白に設定 */
        margin-bottom: 5px; /* 各ラインの間に5pxの間隔を追加 */
        transition: all 0.3s; /* 0.3秒でアニメーションの変化を行う */
    }

    #menu-toggle {
        display: none; /* チェックボックスを画面に表示しないように設定 */
    }

    .menu {
        display: none; /* メニューリストを非表示に設定 */
        list-style: none; /* リスト項目のデフォルトのリストスタイルをなしにする */
        background-color: rgba(0, 0, 0, 0.8); /* 背景色の青色を50%透明に設定 */
        position: absolute; /* メニューを絶対配置で画面に配置 */
        top: 70px; /* メニューの上部を40px下に配置 */
        right: 0; /* メニューを右端に配置 */
        width: 100%; /* メニューの幅を200pxに設定 */
        height: 100%;
        z-index: 10;
    }

    #menu-toggle:checked + .menu-icon + .menu {
        display: block; /* チェックが入るとメニューを表示 */
    }

    #menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(45deg); /* 45度回転 */
        position: relative; /* ラインを相対的に配置 */
        top: 8px; /* 8px下に移動 */
    }

    #menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0; /* 完全に透明にする */
    }

    /* チェックボックスがオンのときに3本目のラインを回転させる */
    #menu-toggle:checked + .menu-icon span:nth-child(3) {
        transform: rotate(-45deg); /* 逆方向に45度回転 */
        position: relative; /* ラインを相対的に配置 */
        top: -8px; /* 8px上に移動 */
    }

    nav ul li a {
        color: white;
        font-size: 16px;
        display: inline-block;
    }
    
    p {
        padding-top: 12px;
        margin: 0;
    }

    .eng {
        letter-spacing: 4px;
    }

    .jp {
        letter-spacing: 2px;
        font-size: 12px;
        color: orange;
    }
    .counseling {
        display: inline-block;
        padding: 16px 32px;
        border-radius: 32px;
        margin-top: 16px;
    }
}